/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
a,
textarea {
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, svg {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: bold;
}

/* /reset */
@font-face {
  font-family: "Kelpo";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/kelpo_DEMO/FontsFree-Net-KelpoDemo-MVv9J.woff2") format("woff2"), url("../fonts/kelpo_DEMO/FontsFree-Net-KelpoDemo-MVv9J.woff") format("woff"), url("../fonts/kelpo_DEMO/FontsFree-Net-KelpoDemo-MVv9J.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v30-latin-regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto/roboto-v30-latin-500.ttf") format("truetype");
  font-display: swap;
}
/* settings */
html {
  font-size: 0.85vw;
}

a {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1em;
  color: #AE909D;
}

body {
  min-width: 319px;
  background-color: #FFF1F7;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1em;
  color: #AE909D;
}
body.lock {
  overflow: hidden;
}

@media (max-width: 500px) {
  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 501px) {
  .mobile-visible {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .tablet-hide {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .tablet-visible {
    display: none !important;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
}
.row > * {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
}

.wrapper {
  width: 77% !important;
  max-width: none !important;
  width: 100%;
  max-width: 1490px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 15px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 15px;
  }
}

*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

*::-webkit-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navpage {
  padding: 200px 0 100px;
}
.navpage h1 {
  font-size: 2em;
  line-height: 120%;
  color: #EC0187;
  margin-bottom: 20px;
}
.navpage ul {
  font-size: 1.2em;
}
.navpage ul li {
  margin: 10px 0;
}
.navpage ul li a {
  color: #AE909D;
}
.navpage ul li a:hover {
  color: #99DDE3;
}

/* /settings */
/* btn */
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.47em 1em 0.53em;
  border-radius: 5em;
  border: 0.15em solid #EC0187;
  background: #FFF5FA;
  -webkit-box-shadow: -0.2em 0.2em 0 #EC0187;
  box-shadow: -0.2em 0.2em 0 #EC0187;
  outline: none;
  font-family: "Kelpo";
  font-size: 1.625em;
  color: #EC0187;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 769px) {
  .btn:hover {
    -webkit-box-shadow: -0.2em 0.2em 0 #d30178;
    box-shadow: -0.2em 0.2em 0 #d30178;
    border-color: #d30178;
    background-color: #EC0187;
    color: #fff;
  }
}

/* /btn */
/* title */
.title {
  font-family: "Kelpo";
  font-size: 4.3em;
  line-height: 80%;
  color: #EC0187;
}
.title span {
  color: #99DDE3;
}

/* /title */
/* subtitle */
.subtitle {
  font-family: "Kelpo";
  font-size: 4em;
  line-height: 86%;
  letter-spacing: -0.03em;
}
.subtitle--blue {
  color: #99DDE3;
  text-shadow: -0.1em 0.1em #5C2D95;
}
.subtitle--pink {
  color: #EC0187;
  text-shadow: -0.1em 0.1em #fff;
}

/* /subtitle */
/* header */
.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2em 0 0.5em;
  z-index: 30;
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  display: block;
  width: 14em;
}
.header__logo img {
  display: block;
}

#headerSticky.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5em 0;
  background-color: #FFF1F7;
  -webkit-box-shadow: 0 0 20px rgba(236, 1, 135, 0.3);
  box-shadow: 0 0 20px rgba(236, 1, 135, 0.3);
  -webkit-animation: showStyky 0.5s;
  animation: showStyky 0.5s;
}

@-webkit-keyframes showStyky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes showStyky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* /header */
/* welcome-slider */
.welcome-slider {
  padding-top: 8em;
  background-color: #FBEAF1;
  position: relative;
  overflow: hidden;
}
.welcome-slider__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.welcome-slider__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.welcome-slider__slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.welcome-slider .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  min-height: 44em;
}
.welcome-slider .title {
  text-shadow: -0.1em 0.1em #fff;
  margin-bottom: 0.3em;
}
.welcome-slider__content {
  width: 43em;
  padding: 11em 0 5em;
  position: relative;
  z-index: 1;
}
.welcome-slider__text {
  font-size: 1.125em;
  line-height: 140%;
}
.welcome-slider__img {
  width: 50em;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}
.welcome-slider__img img {
  width: 38em;
}
.welcome-slider__arrow {
  display: block;
  width: auto;
  height: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 20;
}
.welcome-slider__arrow:after {
  display: none;
}
.welcome-slider__arrow img {
  width: 7em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.welcome-slider__arrow--prev {
  left: 0;
  -webkit-transform: translate(0, -50%) rotate(180deg);
  -ms-transform: translate(0, -50%) rotate(180deg);
  transform: translate(0, -50%) rotate(180deg);
}
.welcome-slider__arrow--next {
  right: 0;
}
.welcome-slider__arrow.swiper-button-disabled {
  display: none;
}
@media (min-width: 769px) {
  .welcome-slider__arrow:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

/* /welcome-slider */
/* benefit */
.benefit {
  color: #fff;
  position: relative;
}
.benefit:before {
  content: "";
  display: block;
  width: 50%;
  background-color: #D92F84;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.benefit .wrapper {
  position: relative;
  z-index: 1;
}
.benefit__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5em 0;
  width: 36em;
  min-height: 49em;
}
.benefit__content .subtitle {
  margin-bottom: 0.3em;
}
.benefit__text {
  width: 29em;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 140%;
}
.benefit__text p {
  margin-bottom: 2.5em;
}
.benefit__text ul li {
  padding-left: 5em;
  position: relative;
  margin-bottom: 2.5em;
}
.benefit__text ul li img {
  width: 8.2em;
  position: absolute;
  top: -2.5em;
  left: -4em;
}
.benefit__img {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.benefit__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.benefit__arrow {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.benefit__arrow img {
  width: 14em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 769px) {
  .benefit__arrow:hover img {
    -webkit-transform: rotate(360deg) scale(1.05);
    -ms-transform: rotate(360deg) scale(1.05);
    transform: rotate(360deg) scale(1.05);
  }
}
.benefit__fly {
  position: absolute;
  top: -3em;
  left: 12em;
  z-index: 1;
}
.benefit__fly img {
  width: 11em;
}

/* /benefit */
/* products-slider */
.products-slider {
  padding: 11.25em 0 10.7em;
  text-align: center;
  position: relative;
}
.products-slider__block {
  overflow: hidden;
}
.products-slider .title {
  width: 13em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6em;
}
.products-slider__sub {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125em;
  line-height: 140%;
  margin-bottom: 4.3em;
}
.products-slider__slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.products-slider__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 31.8em;
  border-radius: 2.5em;
  background-color: #EC0087;
  margin-bottom: 1.8em;
  overflow: hidden;
}
.products-slider__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 769px) {
  .products-slider__img:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.products-slider__title {
  font-family: "Kelpo";
  font-size: 2.75em;
  line-height: 160%;
  letter-spacing: -0.88px;
  color: #EC0187;
}
@media (min-width: 769px) {
  .products-slider__title:hover {
    color: #99DDE3;
  }
}
.products-slider__text {
  width: 24em;
  margin-left: auto;
  margin-right: auto;
  line-height: 140%;
  margin-bottom: 0.7em;
}
.products-slider__btn {
  font-family: "Kelpo";
  font-size: 1.75em;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.products-slider__btn a {
  color: #99DDE3;
  text-decoration: underline;
}
@media (min-width: 769px) {
  .products-slider__btn a:hover {
    color: #EC0187;
  }
}
.products-slider__fly-1 {
  position: absolute;
  top: -4em;
  right: 35.5em;
  z-index: 1;
}
.products-slider__fly-1 img {
  width: 10em;
}
.products-slider__fly-2 {
  position: absolute;
  top: 8.5em;
  left: 8.8em;
  z-index: 1;
}
.products-slider__fly-2 img {
  width: 4em;
}

/* /products-slider */
/* besides */
.besides {
  min-height: 50.6875em;
  padding: 9.5em 0;
  background-color: #FCD9EE;
  position: relative;
}
.besides .wrapper {
  position: relative;
}
.besides .subtitle {
  width: 11em;
  margin-bottom: 0.3em;
}
.besides__text {
  width: 23em;
  font-size: 1.125em;
  line-height: 140%;
  margin-bottom: 3.5em;
}
.besides__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Kelpo";
  font-size: 2em;
  line-height: 90%;
  text-transform: uppercase;
  color: #EC0187;
}
.besides__item img {
  width: 5.5em;
  margin-top: -1em;
  margin-right: 0.5em;
}
@media (min-width: 769px) {
  .besides__item--0 {
    margin-left: -1em;
  }
  .besides__item--1 {
    position: absolute;
    top: -1.5em;
    right: 8.3em;
  }
  .besides__item--2 {
    position: absolute;
    top: 5em;
    right: 0.5em;
  }
  .besides__item--3 {
    position: absolute;
    top: 11.1em;
    right: 8.5em;
  }
  .besides__item--4 {
    position: absolute;
    top: 5em;
    right: 15em;
  }
}
.besides__fly-1 {
  position: absolute;
  top: -1em;
  left: 9.5em;
  z-index: 1;
}
.besides__fly-1 img {
  width: 1.5em;
}
.besides__fly-2 {
  position: absolute;
  top: -4.5em;
  right: 51em;
  z-index: 1;
}
.besides__fly-2 img {
  width: 6em;
}
.besides__fly-3 {
  position: absolute;
  top: 8em;
  right: 4em;
  z-index: 1;
}
.besides__fly-3 img {
  width: 4em;
}

/* /besides */
/* more-offer */
.more-offer {
  height: 47.5625em;
  background-color: #EC0087;
  position: relative;
}
.more-offer__content {
  width: 40%;
  margin-left: auto;
  padding: 13em 0 9em;
}
.more-offer__img {
  position: absolute;
  bottom: 0;
  left: 2.5em;
}
.more-offer__img img {
  display: block;
  width: 54em;
}
.more-offer .subtitle {
  margin-bottom: 0.5em;
}
.more-offer__text {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 140%;
  color: #fff;
}
.more-offer__fly-1 {
  position: absolute;
  top: -2.5em;
  right: 43.5em;
  z-index: 1;
}
.more-offer__fly-1 img {
  width: 8em;
}
.more-offer__fly-2 {
  position: absolute;
  bottom: 5em;
  right: 7em;
  z-index: 1;
}
.more-offer__fly-2 img {
  width: 4em;
}

/* /more-offer */
/* footer */
/* /footer */