doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="robots" content="noindex, nofollow")

    block title

    //- link(rel="stylesheet", href="css/plugins/fullpage.css")
    //- link(rel="stylesheet", href="css/plugins/jquery.fancybox.min.css")
    //- link(rel="stylesheet", href="css/plugins/jquery.scrollbar.css")
    //- link(rel="stylesheet", href="css/plugins/tooltipster.bundle.min.css")
    //- link(rel="stylesheet", href="css/plugins/aos.css")
    link(rel="stylesheet", href="css/plugins/swiper-bundle.min.css")
    //- link(rel="stylesheet", href="css/plugins/air-datepicker.css")
    //- link(rel="stylesheet", href="css/plugins/magnific-popup.css")
    //- link(rel="stylesheet", href="css/plugins/nouislider.min.css")

    link(rel="stylesheet" href="css/style.css")

  body 

    block content

    script(src="js/jquery.min.js") 
    //- script(src="js/plugins/jquery.fancybox.min.js")
    //- script(src="js/plugins/jquery.matchHeight-min.js")
    //- script(src="js/plugins/jquery.inputmask.min.js")
    //- script(src="js/plugins/autosize.min.js")
    //- script(src="js/plugins/tooltipster.bundle.min.js")
    //- script(src="js/plugins/fullpage.min.js")
    //- script(src="js/plugins/jquery.scrollbar.min.js")
    //- script(src="js/plugins/aos.js")
    //- script(src="js/plugins/circle-progress.min.js")
    //- script(src="js/plugins/bootstrap.bundle.min.js") 
    script(src="js/plugins/swiper-bundle.min.js") 
    //- script(src="js/plugins/air-datepicker.js") 
    //- script(src="js/plugins/jquery.magnific-popup.min.js") 
    //- script(src="js/plugins/sticky-sidebar.js") 
    //- script(src="js/plugins/nouislider.min.js") 
    //- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src="js/plugins/gsap.min.js") 
    script(src="js/plugins/ScrollTrigger.min.js") 
    script(src="js/plugins/MotionPathPlugin.min.js") 
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVY9bdJtxFyjxthJGdsXG7G7A6jXPRFJg&callback=initMap")
    script(src="js/scripts.js")