// footer
footer.footer
  .footer__fly 
    img(src="img/flying/img-10.svg", alt="").js-parallaxMouse(data-revers="true")
  .wrapper 
    .footer__text Copyright © 2023 Turn Dough - All Rights Reserved.
    .footer__social 
      .footer__social-row 
        a(href="#").footer__social-icon 
          svg(class="icon-facebook")
            use(xlink:href="img/sprite.svg#facebook")
        a(href="#").footer__social-icon 
          svg(class="icon-instagram")
            use(xlink:href="img/sprite.svg#instagram")
        a(href="#").footer__social-icon 
          svg(class="icon-twitter")
            use(xlink:href="img/sprite.svg#twitter")
    .footer__text Made by Deesse Media
//	/footer