extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // welcome-slider
      .welcome-slider
        .welcome-slider__bg 
          img(src="img/welcome-slider-bg.jpg", alt="")
        .welcome-slider__arrow.welcome-slider__arrow--prev.swiper-button-prev
          img(src="img/arrow-slider.svg", alt="")
        .welcome-slider__arrow.welcome-slider__arrow--next.swiper-button-next
          img(src="img/arrow-slider.svg", alt="")
        .welcome-slider__slider 
          #sliderWelcolme 
            .swiper-wrapper 

              .swiper-slide 
                .wrapper 
                  .welcome-slider__content 
                    .title Turning Dough into Delicious Moments: 
                      span Discover the Joy of Chimney Cakes with TurnDough
                  .welcome-slider__img 
                    img(src="img/welcome-slider/img-1.png", alt="").js-parallaxMouse

              .swiper-slide 
                .wrapper 
                  .welcome-slider__content 
                    .title Discover <br>the Timeless <br>Delight
                    .welcome-slider__text It all began in the 18th century <br>when Trdelník, a delectable <br>European masterpiece, made <br>its grand entrance.
                  .welcome-slider__img 
                    img(src="img/welcome-slider/img-2.png", alt="").js-parallaxMouse

              .swiper-slide 
                .wrapper 
                  .welcome-slider__content 
                    .title Cherished <br>Delight
                    .welcome-slider__text Central European families cherished <br>this heavenly dessert, reserving it for <br>magical moments.
                  .welcome-slider__img 
                    img(src="img/welcome-slider/img-3.png", alt="").js-parallaxMouse

              .swiper-slide 
                .wrapper 
                  .welcome-slider__content 
                    .title From Cobblestones <br>to California Dreams
                    .welcome-slider__text Fast forward to 2017 when David, a Prague native, <br>waved goodbye to the cobblestone streets and <br>embarked on an adventure to sunny Los Angeles.
                  .welcome-slider__img 
                    img(src="img/welcome-slider/img-4.png", alt="").js-parallaxMouse
              
              .swiper-slide 
                .wrapper 
                  .welcome-slider__content 
                    .title Passion Turned <br>Success
                    .welcome-slider__text Armed with his passion for sweet delights, he established <br>the renowned company known as Turn Dough, sprinkling <br>joy across the American desert landscape.
                  .welcome-slider__img 
                    img(src="img/welcome-slider/img-5.png", alt="").js-parallaxMouse

              .swiper-slide 
                .wrapper 
                  .welcome-slider__content 
                    .title Passion Turned <br>Success
                    .welcome-slider__text Armed with his passion for sweet delights, he established <br>the renowned company known as Turn Dough, sprinkling <br>joy across the American desert landscape.
                  .welcome-slider__img 
                    img(src="img/welcome-slider/img-6.png", alt="").js-parallaxMouse
      // /welcome-slider

      // benefit
      .benefit
        .wrapper  
          .benefit__content 
            .subtitle.subtitle--blue Taste Excellence: Crafting Delightful Moments with the Finest Ingredients
            .benefit__text 
              p Our commitment to excellence is reflected in our use of only the finest ingredients to ensure an exceptional taste experience.
              ul 
                li 
                  img(src="img/benefit/img-1.png", alt="")
                  span We source our dairy milk from grass-fed cattle, without any artificial sweeteners or corn syrups
                li 
                  img(src="img/benefit/img-2.png", alt="")
                  span We use natural Madagascar Vanilla Beans, ensuring the finest quality in every bite
        .benefit__img 
          img(src="img/benefit.jpg", alt="")
        .benefit__arrow.js-scroll-to
          a(href="#instagram") 
            img(src="img/arrow.svg", alt="")
        .benefit__fly 
          img(src="img/flying/img-1.png", alt="").js-parallaxMouse(data-revers="true")
      // /benefit

      // products-slider
      .products-slider
        .products-slider__fly-1
          img(src="img/flying/img-2.png", alt="").js-parallaxMouse(data-revers="true")
        .products-slider__fly-2
          img(src="img/flying/img-3.png", alt="").js-parallaxMouse
        .products-slider__block 
          .wrapper 
            .title 18 Irresistible Chimney Cakes: <br>A Scrumptious Journey of Flavors!
            .products-slider__sub Today, we proudly offer 18 signature Chimney cakes with Soft Serve Gelato, <br>allowing you to indulge in a variety of delectable combinations.
            .products-slider__slider 
              #sliderProduct 
                .swiper-wrapper 
                  .swiper-slide 
                    mixin product-slier-card()
                      .products-slider__card 
                        a(href="#").products-slider__img 
                          img(src="img/products/img-1.jpg", alt="")
                        a(href="#").products-slider__title Oreo Chimney Cake
                        .products-slider__text Delight in the irresistible combination of a warm, freshly baked Trdelník, generously filled with heavenly Nutella. Top it off with a generous swirl of creamy Vanilla Bean Gelato, creating a divine harmony of flavors and textures.
                        .products-slider__btn 
                          a(href="#") more
                    +product-slier-card
                  .swiper-slide 
                    +product-slier-card
                  .swiper-slide 
                    +product-slier-card
                  .swiper-slide 
                    +product-slier-card
                  .swiper-slide 
                    +product-slier-card
                  .swiper-slide 
                    +product-slier-card
      // /products-slider

      // besides
      .besides
        .besides__fly-1
          img(src="img/flying/img-4.png", alt="").js-parallaxMouse(data-revers="true")
        .besides__fly-2
          img(src="img/flying/img-5.png", alt="").js-parallaxMouse
        .besides__fly-3
          img(src="img/flying/img-3.png", alt="").js-parallaxMouse(data-revers="true")
        .wrapper 
          .subtitle.subtitle--pink Delicious Delights: Beyond Chimney Cakes, Explore Our Tempting Treats
          .besides__text Alongside our mouthwatering Chimney Cakes, we offer a tantalizing array of indulgences, including
          .besides__item.besides__item--0 
            img(src="img/besides/img-1.png", alt="")
            span irresistible Homemade <br>French Crepes
          .besides__item.besides__item--1 
            img(src="img/besides/img-2.png", alt="")
            span delectable <br>Milkshakes 
          .besides__item.besides__item--2 
            img(src="img/besides/img-3.png", alt="")
            span refreshing <br>Dole Whip
          .besides__item.besides__item--3 
            img(src="img/besides/img-4.png", alt="")
            span heavenly Belgian <br>Waffles
          .besides__item.besides__item--4 
            img(src="img/besides/img-5.png", alt="")
            span delightful selection <br>of espresso
      // /besides

      // more-offer
      .more-offer
        .more-offer__fly-1
          img(src="img/flying/img-6.png", alt="").js-parallaxMouse(data-revers="true")
        .more-offer__fly-2
          img(src="img/flying/img-7.png", alt="").js-parallaxMouse(data-revers="true")
        .wrapper 
          .more-offer__content 
            .subtitle.subtitle--blue Indulge in the Tropical Delight: Discover the Irresistible Bliss of Our Dole Whip!
            .more-offer__text Introducing our delightful Dole Whip: a tropical treat that will transport your taste buds to paradise! Made from the finest ripe pineapples, this refreshing frozen dessert is the perfect way to beat the heat and indulge in a burst of tropical flavors.
          .more-offer__img 
            img(src="img/more-offer.png", alt="")
      // /more-offer

      // instagram
      .instagram#instagram
        .instagram__fly 
            img(src="img/flying/img-8.png", alt="").js-parallaxMouse
        .instagram__container 
          .wrapper 
            .subtitle.subtitle--pink Follow Us for Deliciousness on Instagram
            .instagram__slider 
              #sliderInstagram 
                .swiper-wrapper 
                  .swiper-slide
                    a(href="#").instagram__img 
                      img(src="img/instagram.jpg", alt="")
                  .swiper-slide
                    a(href="#").instagram__img 
                      img(src="img/instagram.jpg", alt="")
                  .swiper-slide
                    a(href="#").instagram__img 
                      img(src="img/instagram.jpg", alt="")
                  .swiper-slide
                    a(href="#").instagram__img 
                      img(src="img/instagram.jpg", alt="")
                  .swiper-slide
                    a(href="#").instagram__img 
                      img(src="img/instagram.jpg", alt="")
            .instagram__link 
              a(href="#") Follow Us on Instagram
      // /instagram

      // contact
      .contact
        .contact__fly 
          img(src="img/flying/img-9.png", alt="").js-parallaxMouse(data-revers="true")
        .wrapper 
          .contact__content 
            .subtitle.subtitle--white Where Iconic Locations Meet Delicious Delights
            .contact__sub Our stores are perfectly situated in two iconic and vibrant locations: the sun-kissed Venice Boardwalk and the world-famous Hollywood Walk of Fame.
            .contact__buttons 
              a(href="#").contact__btn.active
                .contact__btn-icon 
                  svg(class="icon-point")
                    use(xlink:href="img/sprite.svg#point")
                span Hollywood
              a(href="#").contact__btn 
                .contact__btn-icon 
                  svg(class="icon-point")
                    use(xlink:href="img/sprite.svg#point")
                span Venice
            .contact__text 
              h3 Turn Dough
              p 1425 Ocean Front Walk, Ocean Front Walk, Venice, California 90291, United States
            .contact__text 
              h3 Contact information
              p Promotional: marketing@turndough.com General: info@turndough.com Phone Number: (424) 307-5005
            .contact__text 
              h3 Hours
              p Open 7 Days a Week from noon until sellout
        .contact__map 
          #map 
      // /contact

    include core/footer.pug
