extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug
    +header

    .content 

      .navpage 
        .wrapper
          h1 Навигация по страницам
          ul 
            li 
              a(href="home.html") Home
            li 
              a(href="about.html") Our story
            li 
              a(href="menue.html") Menue
            li 
              a(href="review.html") Review

    include core/footer.pug
