extends core/base.pug

block title 
  title Menue

block content

  .page 

    include core/header.pug
    +header('header--fill')

    .content 

      .menue 

        // catalog
        .catalog

          .catalog__head 
            .catalog__bg 
              img(src="img/catalog-head/bg-1.jpg", alt="")
            .wrapper 
              .catalog__content 
                .catalog__title Chimney Cakes
                p Freshness is our priority at Turn Dough. Our delectable Chimney Cakes are always baked right before your eyes, ensuring the utmost freshness. Each order is carefully crafted to perfection, guaranteeing a personalized experience. Our in-house made Gelato Vanilla Bean (soft serve) is made daily with the finest ingredients. We take pride in offering GMO-Free, Gluten-Free, Egg-Free, Kosher, and Halal Soft Serve Gelato. Our Gelatois made with the goodness of Grass-Fed Cattle Dairy Milk.
              .catalog__img 
                img(src="img/catalog-head/img-1.png", alt="")

          .catalog__cards 
            .catalog__fly-1 
              img(src="img/flying/img-12.png", alt="").js-parallaxMouse(data-revers="true")
            .catalog__fly-2 
              img(src="img/flying/img-13.png", alt="").js-parallaxMouse
            .catalog__fly-3
              img(src="img/flying/img-14.png", alt="").js-parallaxMouse(data-revers="true")
            .wrapper 
              .row 
                .catalog__col 
                  mixin product-card(imgUrl, title, text, blueTitle)
                    // product-card
                    .product-card
                      a(href="#").product-card__img 
                        img(src= imgUrl, alt="")
                      if blueTitle
                        .product-card__content.product-card__content--blue
                          h2
                            a(href="#")= title
                          p= text
                      else 
                        .product-card__content
                          h2
                            a(href="#")= title
                          p= text
                    // /product-card
                  +product-card("img/products/img-2.jpg", "OREO CHIMNEY CAKE", "Delight in the irresistible combination of a warm, freshly baked Trdelník, generously filled with heavenly Nutella. Top it off with a generous swirl of creamy Vanilla Bean Gelato, creating a divine harmony of flavors and textures. As you take each heavenly bite, the crushed Oreo pieces add a delightful crunch, tantalizing your taste buds with every mouthful. Finally, a whole Oreo cookie sits atop this masterpiece, providing the perfect finishing touch.")
                .catalog__col 
                  +product-card("img/products/img-3.jpg", "BROWNIE CHIMNEY CAKE", "Here you'll discover a heavenly spread of smooth Nutella, followed by a generous serving of creamy Vanilla Bean Gelato. But that's not all! We add a delightful crunch with Walnuts and Chocolate Chip Brownies. To take it to the next level of indulgence, we drizzle it with a heavenly combination of Sea Salt Caramel and Chocolate. It's a dessert experience that will leave you craving for more.")
                .catalog__col 
                  +product-card("img/products/img-4.jpg", "UNICORN CHIMNEY CAKE", "As you unravel the layers, you'll be greeted with a heavenly Nutella spread. But the magic doesn't stop there. We then crown it with velvety soft-serve Vanilla Bean Gelato, infusing each bite with creamy bliss. To add a sprinkle of whimsy, we shower it with delightful Unicorn Sprinkles. And as a grand finale, a handcrafted fondant Unicorn with delicate Roses awaits, turning this dessert into a fairytale experience.")
                .catalog__col 
                  +product-card("img/products/img-2.jpg", "OREO CHIMNEY CAKE", "Delight in the irresistible combination of a warm, freshly baked Trdelník, generously filled with heavenly Nutella. Top it off with a generous swirl of creamy Vanilla Bean Gelato, creating a divine harmony of flavors and textures. As you take each heavenly bite, the crushed Oreo pieces add a delightful crunch, tantalizing your taste buds with every mouthful. Finally, a whole Oreo cookie sits atop this masterpiece, providing the perfect finishing touch.")
                .catalog__col 
                  +product-card("img/products/img-3.jpg", "BROWNIE CHIMNEY CAKE", "Here you'll discover a heavenly spread of smooth Nutella, followed by a generous serving of creamy Vanilla Bean Gelato. But that's not all! We add a delightful crunch with Walnuts and Chocolate Chip Brownies. To take it to the next level of indulgence, we drizzle it with a heavenly combination of Sea Salt Caramel and Chocolate. It's a dessert experience that will leave you craving for more.")
                .catalog__col 
                  +product-card("img/products/img-4.jpg", "UNICORN CHIMNEY CAKE", "As you unravel the layers, you'll be greeted with a heavenly Nutella spread. But the magic doesn't stop there. We then crown it with velvety soft-serve Vanilla Bean Gelato, infusing each bite with creamy bliss. To add a sprinkle of whimsy, we shower it with delightful Unicorn Sprinkles. And as a grand finale, a handcrafted fondant Unicorn with delicate Roses awaits, turning this dessert into a fairytale experience.")
                .catalog__col 
                  +product-card("img/products/img-2.jpg", "OREO CHIMNEY CAKE", "Delight in the irresistible combination of a warm, freshly baked Trdelník, generously filled with heavenly Nutella. Top it off with a generous swirl of creamy Vanilla Bean Gelato, creating a divine harmony of flavors and textures. As you take each heavenly bite, the crushed Oreo pieces add a delightful crunch, tantalizing your taste buds with every mouthful. Finally, a whole Oreo cookie sits atop this masterpiece, providing the perfect finishing touch.")
                .catalog__col 
                  +product-card("img/products/img-3.jpg", "BROWNIE CHIMNEY CAKE", "Here you'll discover a heavenly spread of smooth Nutella, followed by a generous serving of creamy Vanilla Bean Gelato. But that's not all! We add a delightful crunch with Walnuts and Chocolate Chip Brownies. To take it to the next level of indulgence, we drizzle it with a heavenly combination of Sea Salt Caramel and Chocolate. It's a dessert experience that will leave you craving for more.")
                .catalog__col 
                  +product-card("img/products/img-4.jpg", "UNICORN CHIMNEY CAKE", "As you unravel the layers, you'll be greeted with a heavenly Nutella spread. But the magic doesn't stop there. We then crown it with velvety soft-serve Vanilla Bean Gelato, infusing each bite with creamy bliss. To add a sprinkle of whimsy, we shower it with delightful Unicorn Sprinkles. And as a grand finale, a handcrafted fondant Unicorn with delicate Roses awaits, turning this dessert into a fairytale experience.")
                .catalog__col 
                  +product-card("img/products/img-2.jpg", "OREO CHIMNEY CAKE", "Delight in the irresistible combination of a warm, freshly baked Trdelník, generously filled with heavenly Nutella. Top it off with a generous swirl of creamy Vanilla Bean Gelato, creating a divine harmony of flavors and textures. As you take each heavenly bite, the crushed Oreo pieces add a delightful crunch, tantalizing your taste buds with every mouthful. Finally, a whole Oreo cookie sits atop this masterpiece, providing the perfect finishing touch.")
                .catalog__col 
                  +product-card("img/products/img-3.jpg", "BROWNIE CHIMNEY CAKE", "Here you'll discover a heavenly spread of smooth Nutella, followed by a generous serving of creamy Vanilla Bean Gelato. But that's not all! We add a delightful crunch with Walnuts and Chocolate Chip Brownies. To take it to the next level of indulgence, we drizzle it with a heavenly combination of Sea Salt Caramel and Chocolate. It's a dessert experience that will leave you craving for more.")
                .catalog__col 
                  +product-card("img/products/img-4.jpg", "UNICORN CHIMNEY CAKE", "As you unravel the layers, you'll be greeted with a heavenly Nutella spread. But the magic doesn't stop there. We then crown it with velvety soft-serve Vanilla Bean Gelato, infusing each bite with creamy bliss. To add a sprinkle of whimsy, we shower it with delightful Unicorn Sprinkles. And as a grand finale, a handcrafted fondant Unicorn with delicate Roses awaits, turning this dessert into a fairytale experience.")
                .catalog__col 
                  +product-card("img/products/img-2.jpg", "OREO CHIMNEY CAKE", "Delight in the irresistible combination of a warm, freshly baked Trdelník, generously filled with heavenly Nutella. Top it off with a generous swirl of creamy Vanilla Bean Gelato, creating a divine harmony of flavors and textures. As you take each heavenly bite, the crushed Oreo pieces add a delightful crunch, tantalizing your taste buds with every mouthful. Finally, a whole Oreo cookie sits atop this masterpiece, providing the perfect finishing touch.")
                .catalog__col 
                  +product-card("img/products/img-3.jpg", "BROWNIE CHIMNEY CAKE", "Here you'll discover a heavenly spread of smooth Nutella, followed by a generous serving of creamy Vanilla Bean Gelato. But that's not all! We add a delightful crunch with Walnuts and Chocolate Chip Brownies. To take it to the next level of indulgence, we drizzle it with a heavenly combination of Sea Salt Caramel and Chocolate. It's a dessert experience that will leave you craving for more.")
                .catalog__col 
                  +product-card("img/products/img-4.jpg", "UNICORN CHIMNEY CAKE", "As you unravel the layers, you'll be greeted with a heavenly Nutella spread. But the magic doesn't stop there. We then crown it with velvety soft-serve Vanilla Bean Gelato, infusing each bite with creamy bliss. To add a sprinkle of whimsy, we shower it with delightful Unicorn Sprinkles. And as a grand finale, a handcrafted fondant Unicorn with delicate Roses awaits, turning this dessert into a fairytale experience.")
                .catalog__col 
                  +product-card("img/products/img-2.jpg", "OREO CHIMNEY CAKE", "Delight in the irresistible combination of a warm, freshly baked Trdelník, generously filled with heavenly Nutella. Top it off with a generous swirl of creamy Vanilla Bean Gelato, creating a divine harmony of flavors and textures. As you take each heavenly bite, the crushed Oreo pieces add a delightful crunch, tantalizing your taste buds with every mouthful. Finally, a whole Oreo cookie sits atop this masterpiece, providing the perfect finishing touch.")
                .catalog__col 
                  +product-card("img/products/img-3.jpg", "BROWNIE CHIMNEY CAKE", "Here you'll discover a heavenly spread of smooth Nutella, followed by a generous serving of creamy Vanilla Bean Gelato. But that's not all! We add a delightful crunch with Walnuts and Chocolate Chip Brownies. To take it to the next level of indulgence, we drizzle it with a heavenly combination of Sea Salt Caramel and Chocolate. It's a dessert experience that will leave you craving for more.")
                .catalog__col 
                  +product-card("img/products/img-4.jpg", "UNICORN CHIMNEY CAKE", "As you unravel the layers, you'll be greeted with a heavenly Nutella spread. But the magic doesn't stop there. We then crown it with velvety soft-serve Vanilla Bean Gelato, infusing each bite with creamy bliss. To add a sprinkle of whimsy, we shower it with delightful Unicorn Sprinkles. And as a grand finale, a handcrafted fondant Unicorn with delicate Roses awaits, turning this dessert into a fairytale experience.")
        // /catalog

        // catalog
        .catalog

          .catalog__head 
            .catalog__fly-4 
              img(src="img/flying/img-11.png", alt="").js-parallaxMouse(data-revers="true")
            .catalog__bg 
              img(src="img/catalog-head/bg-2.jpg", alt="")
            .wrapper 
              .catalog__content 
                .catalog__title Milkshakes
                p Delicious shakes made with Soft Serve Gelato, Whole Milk and Homemade Whipped Cream
              .catalog__img 
                img(src="img/catalog-head/img-2.png", alt="")

          .catalog__cards 
            .catalog__fly-1 
              img(src="img/flying/img-12.png", alt="").js-parallaxMouse(data-revers="true")
            .catalog__fly-2 
              img(src="img/flying/img-13.png", alt="").js-parallaxMouse
            .catalog__fly-3
              img(src="img/flying/img-14.png", alt="").js-parallaxMouse(data-revers="true")
            .wrapper 
              .row 
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "NUTELLA DREAM MILKSHAKE", "Savor the delightful Nutella Dream milkshake, a renowned favorite among our customers. This creation features the perfect combination of Soft Serve Gelato, luscious Nutella, and creamy Whole Milk, blended to perfection. Topped with our homemade Whipped Cream and adorned with scrumptious Kinder Buenos, it's no wonder this milkshake has been enjoyed and celebrated by countless patrons. Join the ranks of those who have relished in its irresistible flavors and discover why it's an absolute must-try.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "OREO MILKSHAKE", "Indulge in the Oreo Milkshake, a creamy delight featuring Soft Serve Gelato blended with the irresistible taste of Oreos and Whole Milk. Topped with Homemade Whipped Cream and garnished with more Oreos, it's a treat that satisfies your sweet cravings in every sip. Try the Oreo milkshake, a favorite among thousands of customers.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "BANANA NUTELA CRISPEARLS", "We start with our creamy Soft Serve Gelato, infused with the rich and velvety essence of Nutella. Banana puree is added to enhance the flavor. We then blend it all together with Whole Milk for a smooth and creamy texture. To elevate the experience, we sprinkle the finest Belgian Callebaut Chocolate Crispearls throughout, adding a satisfying crunch and bursts of intense chocolate. The finishing touch, a dollop of Homemade Whipped Cream with more Crispearls sits proudly on top.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "NUTELLA DREAM MILKSHAKE", "Savor the delightful Nutella Dream milkshake, a renowned favorite among our customers. This creation features the perfect combination of Soft Serve Gelato, luscious Nutella, and creamy Whole Milk, blended to perfection. Topped with our homemade Whipped Cream and adorned with scrumptious Kinder Buenos, it's no wonder this milkshake has been enjoyed and celebrated by countless patrons. Join the ranks of those who have relished in its irresistible flavors and discover why it's an absolute must-try.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "OREO MILKSHAKE", "Indulge in the Oreo Milkshake, a creamy delight featuring Soft Serve Gelato blended with the irresistible taste of Oreos and Whole Milk. Topped with Homemade Whipped Cream and garnished with more Oreos, it's a treat that satisfies your sweet cravings in every sip. Try the Oreo milkshake, a favorite among thousands of customers.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "BANANA NUTELA CRISPEARLS", "We start with our creamy Soft Serve Gelato, infused with the rich and velvety essence of Nutella. Banana puree is added to enhance the flavor. We then blend it all together with Whole Milk for a smooth and creamy texture. To elevate the experience, we sprinkle the finest Belgian Callebaut Chocolate Crispearls throughout, adding a satisfying crunch and bursts of intense chocolate. The finishing touch, a dollop of Homemade Whipped Cream with more Crispearls sits proudly on top.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "NUTELLA DREAM MILKSHAKE", "Savor the delightful Nutella Dream milkshake, a renowned favorite among our customers. This creation features the perfect combination of Soft Serve Gelato, luscious Nutella, and creamy Whole Milk, blended to perfection. Topped with our homemade Whipped Cream and adorned with scrumptious Kinder Buenos, it's no wonder this milkshake has been enjoyed and celebrated by countless patrons. Join the ranks of those who have relished in its irresistible flavors and discover why it's an absolute must-try.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "OREO MILKSHAKE", "Indulge in the Oreo Milkshake, a creamy delight featuring Soft Serve Gelato blended with the irresistible taste of Oreos and Whole Milk. Topped with Homemade Whipped Cream and garnished with more Oreos, it's a treat that satisfies your sweet cravings in every sip. Try the Oreo milkshake, a favorite among thousands of customers.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "BANANA NUTELA CRISPEARLS", "We start with our creamy Soft Serve Gelato, infused with the rich and velvety essence of Nutella. Banana puree is added to enhance the flavor. We then blend it all together with Whole Milk for a smooth and creamy texture. To elevate the experience, we sprinkle the finest Belgian Callebaut Chocolate Crispearls throughout, adding a satisfying crunch and bursts of intense chocolate. The finishing touch, a dollop of Homemade Whipped Cream with more Crispearls sits proudly on top.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "NUTELLA DREAM MILKSHAKE", "Savor the delightful Nutella Dream milkshake, a renowned favorite among our customers. This creation features the perfect combination of Soft Serve Gelato, luscious Nutella, and creamy Whole Milk, blended to perfection. Topped with our homemade Whipped Cream and adorned with scrumptious Kinder Buenos, it's no wonder this milkshake has been enjoyed and celebrated by countless patrons. Join the ranks of those who have relished in its irresistible flavors and discover why it's an absolute must-try.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "OREO MILKSHAKE", "Indulge in the Oreo Milkshake, a creamy delight featuring Soft Serve Gelato blended with the irresistible taste of Oreos and Whole Milk. Topped with Homemade Whipped Cream and garnished with more Oreos, it's a treat that satisfies your sweet cravings in every sip. Try the Oreo milkshake, a favorite among thousands of customers.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "BANANA NUTELA CRISPEARLS", "We start with our creamy Soft Serve Gelato, infused with the rich and velvety essence of Nutella. Banana puree is added to enhance the flavor. We then blend it all together with Whole Milk for a smooth and creamy texture. To elevate the experience, we sprinkle the finest Belgian Callebaut Chocolate Crispearls throughout, adding a satisfying crunch and bursts of intense chocolate. The finishing touch, a dollop of Homemade Whipped Cream with more Crispearls sits proudly on top.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "NUTELLA DREAM MILKSHAKE", "Savor the delightful Nutella Dream milkshake, a renowned favorite among our customers. This creation features the perfect combination of Soft Serve Gelato, luscious Nutella, and creamy Whole Milk, blended to perfection. Topped with our homemade Whipped Cream and adorned with scrumptious Kinder Buenos, it's no wonder this milkshake has been enjoyed and celebrated by countless patrons. Join the ranks of those who have relished in its irresistible flavors and discover why it's an absolute must-try.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "OREO MILKSHAKE", "Indulge in the Oreo Milkshake, a creamy delight featuring Soft Serve Gelato blended with the irresistible taste of Oreos and Whole Milk. Topped with Homemade Whipped Cream and garnished with more Oreos, it's a treat that satisfies your sweet cravings in every sip. Try the Oreo milkshake, a favorite among thousands of customers.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "BANANA NUTELA CRISPEARLS", "We start with our creamy Soft Serve Gelato, infused with the rich and velvety essence of Nutella. Banana puree is added to enhance the flavor. We then blend it all together with Whole Milk for a smooth and creamy texture. To elevate the experience, we sprinkle the finest Belgian Callebaut Chocolate Crispearls throughout, adding a satisfying crunch and bursts of intense chocolate. The finishing touch, a dollop of Homemade Whipped Cream with more Crispearls sits proudly on top.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "BANANA NUTELA CRISPEARLS", "We start with our creamy Soft Serve Gelato, infused with the rich and velvety essence of Nutella. Banana puree is added to enhance the flavor. We then blend it all together with Whole Milk for a smooth and creamy texture. To elevate the experience, we sprinkle the finest Belgian Callebaut Chocolate Crispearls throughout, adding a satisfying crunch and bursts of intense chocolate. The finishing touch, a dollop of Homemade Whipped Cream with more Crispearls sits proudly on top.", true)
        // /catalog

        // catalog
        .catalog

          .catalog__head 
            .catalog__fly-5 
              img(src="img/flying/img-15.png", alt="").js-parallaxMouse(data-revers="true")
            .catalog__bg 
              img(src="img/catalog-head/bg-3.jpg", alt="")
            .wrapper 
              .catalog__content 
                .catalog__title French Crepes
                p Traditional French batter recipe with Milk, Eggs, Butter etc.
              .catalog__img 
                img(src="img/catalog-head/img-3.png", alt="")

          .catalog__cards 
            .catalog__fly-1 
              img(src="img/flying/img-12.png", alt="").js-parallaxMouse(data-revers="true")
            .catalog__fly-2 
              img(src="img/flying/img-13.png", alt="").js-parallaxMouse
            .catalog__fly-3
              img(src="img/flying/img-14.png", alt="").js-parallaxMouse(data-revers="true")
            .wrapper 
              .row 
                .catalog__col 
                  +product-card("img/products/img-6.jpg", "COFFEE MILKSHAKE", "A caffeinated delight for coffee enthusiasts. This creamy concoction starts with our Soft Serve Gelato, infused with the bold and invigorating premium Coffee. We blend it with Whole Milk, creating a velvety-smooth texture that will dance on your palate. Topped with a generous swirl of Homemade Whipped Cream, the milkshake is crowned with a sprinkle of ground coffee, adding an aromatic touch. With every sip, you'll be greeted by the rich and robust notes of coffee, enveloped in a creamy embrace.")
                .catalog__col 
                  +product-card("img/products/img-6.jpg", "S'MORES MILKSHAKE", "This creation begins with our velvety Soft Serve Gelato, infused with rich chocolatey goodness and Whole Milk achieve the perfect consistency. To recreate the classic campfire treat, we add Graham Crackers, providing hint of nostalgia. The milkshake is crowned with a lavish dollop of Homemade Whipped Cream, bringing a creamy and airy element to it. But that's not all! We take it to the next level by garnishing it with Nutella-filled Graham Crackers and a delicate touch of torched Marshmallow.")
                .catalog__col 
                  +product-card("img/products/img-6.jpg", "BROWNIE MILKSHAKE", "Chocolate lover's fantasy with our extraordinary Brownie Milkshake. We start with our velvety Soft Serve Gelato, infused with Whole Milk and generous crumbs of heavenly brownies, adding a gooey and fudgy texture that creates a symphony of chocolatey goodness. We crown this masterpiece with a generous swirl of Homemade Whipped Cream, irresistible Chocolate Chip Brownies and a drizzle of luscious Caramel Sauce, adding a caramelized sweetness that harmonizes perfectly with the chocolatey goodness")
                .catalog__col 
                  +product-card("img/products/img-6.jpg", "COFFEE MILKSHAKE", "A caffeinated delight for coffee enthusiasts. This creamy concoction starts with our Soft Serve Gelato, infused with the bold and invigorating premium Coffee. We blend it with Whole Milk, creating a velvety-smooth texture that will dance on your palate. Topped with a generous swirl of Homemade Whipped Cream, the milkshake is crowned with a sprinkle of ground coffee, adding an aromatic touch. With every sip, you'll be greeted by the rich and robust notes of coffee, enveloped in a creamy embrace.")
                .catalog__col 
                  +product-card("img/products/img-6.jpg", "S'MORES MILKSHAKE", "This creation begins with our velvety Soft Serve Gelato, infused with rich chocolatey goodness and Whole Milk achieve the perfect consistency. To recreate the classic campfire treat, we add Graham Crackers, providing hint of nostalgia. The milkshake is crowned with a lavish dollop of Homemade Whipped Cream, bringing a creamy and airy element to it. But that's not all! We take it to the next level by garnishing it with Nutella-filled Graham Crackers and a delicate touch of torched Marshmallow.")
                .catalog__col 
                  +product-card("img/products/img-6.jpg", "BROWNIE MILKSHAKE", "Chocolate lover's fantasy with our extraordinary Brownie Milkshake. We start with our velvety Soft Serve Gelato, infused with Whole Milk and generous crumbs of heavenly brownies, adding a gooey and fudgy texture that creates a symphony of chocolatey goodness. We crown this masterpiece with a generous swirl of Homemade Whipped Cream, irresistible Chocolate Chip Brownies and a drizzle of luscious Caramel Sauce, adding a caramelized sweetness that harmonizes perfectly with the chocolatey goodness")
        // /catalog

        // catalog
        .catalog

          .catalog__head 
            .catalog__fly-6 
              img(src="img/flying/img-16.png", alt="").js-parallaxMouse(data-revers="true")
            .catalog__fly-7 
              img(src="img/flying/img-17.png", alt="").js-parallaxMouse
            .catalog__bg 
              img(src="img/catalog-head/bg-4.jpg", alt="")
            .wrapper 
              .catalog__content 
                .catalog__title Belgian Waffles
                p Warm Liege Waffles with different toppings, Soft Serve Gelato and Homemade Whipped Cream
              .catalog__img 
                img(src="img/catalog-head/img-4.png", alt="")

          .catalog__cards 
            .catalog__fly-8 
              img(src="img/flying/img-15.png", alt="").js-parallaxMouse(data-revers="true")
            .catalog__fly-9 
              img(src="img/flying/img-18.png", alt="").js-parallaxMouse
            .wrapper 
              .row 
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "COFFEE MILKSHAKE", "A caffeinated delight for coffee enthusiasts. This creamy concoction starts with our Soft Serve Gelato, infused with the bold and invigorating premium Coffee. We blend it with Whole Milk, creating a velvety-smooth texture that will dance on your palate. Topped with a generous swirl of Homemade Whipped Cream, the milkshake is crowned with a sprinkle of ground coffee, adding an aromatic touch. With every sip, you'll be greeted by the rich and robust notes of coffee, enveloped in a creamy embrace.", true)
                .catalog__col 
                  +product-card("img/products/img-5.jpg", "S'MORES MILKSHAKE", "This creation begins with our velvety Soft Serve Gelato, infused with rich chocolatey goodness and Whole Milk achieve the perfect consistency. To recreate the classic campfire treat, we add Graham Crackers, providing hint of nostalgia. The milkshake is crowned with a lavish dollop of Homemade Whipped Cream, bringing a creamy and airy element to it. But that's not all! We take it to the next level by garnishing it with Nutella-filled Graham Crackers and a delicate touch of torched Marshmallow.", true)
        // /catalog

    include core/footer.pug
