extends core/base.pug

block title 
  title Review

block content

  .page 

    include core/header.pug
    +header

    .content 

      // review
      .review
        .review__bg 
          img(src="img/review-bg.jpg", alt="")
        .wrapper 
          .review__title What Our Customers Say About Us

          .review__slider 
            #slideReview 
              .swiper-wrapper 
                .swiper-slide 
                  .review__block 
                    p Freshness is our priority at Turn Dough. Our delectable Chimney Cakes are always baked right before your eyes, ensuring the utmost freshness. Each order is carefully crafted to perfection, guaranteeing a personalized experience. Our in-house made Gelato Vanilla Bean (soft serve) is made daily with the finest ingredients. We take pride in offering GMO-Free, Gluten-Free, Egg-Free, Kosher, and Halal Soft Serve Gelato. Our Gelato is made with the goodness of Grass-Fed Cattle Dairy Milk.
                    .review__raiting 
                      .review__star 
                      .review__star 
                      .review__star 
                      .review__star 
                      .review__star 

                .swiper-slide 
                  .review__block 
                    p Freshness is our priority at Turn Dough. Our delectable Chimney Cakes are always baked right before your eyes, ensuring the utmost freshness. Each order is carefully crafted to perfection, guaranteeing a personalized experience. Our in-house made Gelato Vanilla Bean (soft serve) is made daily with the finest ingredients. We take pride in offering GMO-Free, Gluten-Free, Egg-Free, Kosher, and Halal Soft Serve Gelato. Our Gelato is made with the goodness of Grass-Fed Cattle Dairy Milk.
                    .review__raiting 
                      .review__star 
                      .review__star 
                      .review__star 
                      .review__star 
                      .review__star 

                .swiper-slide 
                  .review__block 
                    p Freshness is our priority at Turn Dough. Our delectable Chimney Cakes are always baked right before your eyes, ensuring the utmost freshness. Each order is carefully crafted to perfection, guaranteeing a personalized experience. Our in-house made Gelato Vanilla Bean (soft serve) is made daily with the finest ingredients. We take pride in offering GMO-Free, Gluten-Free, Egg-Free, Kosher, and Halal Soft Serve Gelato. Our Gelato is made with the goodness of Grass-Fed Cattle Dairy Milk.
                    .review__raiting 
                      .review__star 
                      .review__star 
                      .review__star 
                      .review__star 

                .swiper-slide 
                  .review__block 
                    p Freshness is our priority at Turn Dough. Our delectable Chimney Cakes are always baked right before your eyes, ensuring the utmost freshness. Each order is carefully crafted to perfection, guaranteeing a personalized experience. Our in-house made Gelato Vanilla Bean (soft serve) is made daily with the finest ingredients. We take pride in offering GMO-Free, Gluten-Free, Egg-Free, Kosher, and Halal Soft Serve Gelato. Our Gelato is made with the goodness of Grass-Fed Cattle Dairy Milk.
                    .review__raiting 
                      .review__star 
                      .review__star 
                      .review__star 

                .swiper-slide 
                  .review__block 
                    p Freshness is our priority at Turn Dough. Our delectable Chimney Cakes are always baked right before your eyes, ensuring the utmost freshness. Each order is carefully crafted to perfection, guaranteeing a personalized experience. Our in-house made Gelato Vanilla Bean (soft serve) is made daily with the finest ingredients. We take pride in offering GMO-Free, Gluten-Free, Egg-Free, Kosher, and Halal Soft Serve Gelato. Our Gelato is made with the goodness of Grass-Fed Cattle Dairy Milk.
                    .review__raiting 
                      .review__star 
                      .review__star 

                .swiper-slide 
                  .review__block 
                    p Freshness is our priority at Turn Dough. Our delectable Chimney Cakes are always baked right before your eyes, ensuring the utmost freshness. Each order is carefully crafted to perfection, guaranteeing a personalized experience. Our in-house made Gelato Vanilla Bean (soft serve) is made daily with the finest ingredients. We take pride in offering GMO-Free, Gluten-Free, Egg-Free, Kosher, and Halal Soft Serve Gelato. Our Gelato is made with the goodness of Grass-Fed Cattle Dairy Milk.
                    .review__raiting 
                      .review__star 
                      .review__star 
                      .review__star 

                .swiper-slide 
                  .review__block 
                    p Freshness is our priority at Turn Dough. Our delectable Chimney Cakes are always baked right before your eyes, ensuring the utmost freshness. Each order is carefully crafted to perfection, guaranteeing a personalized experience. Our in-house made Gelato Vanilla Bean (soft serve) is made daily with the finest ingredients. We take pride in offering GMO-Free, Gluten-Free, Egg-Free, Kosher, and Halal Soft Serve Gelato. Our Gelato is made with the goodness of Grass-Fed Cattle Dairy Milk.
                    .review__raiting 
                      .review__star 
                      .review__star 
                      .review__star 
                      .review__star 

            .review__button.review__button--prev.swiper-button-prev
              svg(class="icon-arrow")
                use(xlink:href="img/sprite.svg#arrow")
            .review__button.review__button--next.swiper-button-next
              svg(class="icon-arrow")
                use(xlink:href="img/sprite.svg#arrow")

          .review__thumb   
            #sliderReviewThumb 
              .swiper-wrapper 
                .swiper-slide 
                  .review__photo 
                    img(src="img/users/img-1.jpg", alt="")
                  .review__name Jenny
                .swiper-slide 
                  .review__photo 
                    img(src="img/users/img-1.jpg", alt="")
                  .review__name Jenny
                .swiper-slide 
                  .review__photo 
                    img(src="img/users/img-1.jpg", alt="")
                  .review__name Jenny
                .swiper-slide 
                  .review__photo 
                    img(src="img/users/img-1.jpg", alt="")
                  .review__name Jenny
                .swiper-slide 
                  .review__photo 
                    img(src="img/users/img-1.jpg", alt="")
                  .review__name Jenny
                .swiper-slide 
                  .review__photo 
                    img(src="img/users/img-1.jpg", alt="")
                  .review__name Jenny
                .swiper-slide 
                  .review__photo 
                    img(src="img/users/img-1.jpg", alt="")
                  .review__name Jenny
      // /review

    include core/footer.pug
