extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      .wrapper

        // swiper
        .swiper
          #swiper.swiper__slider
            .swiper-wrapper 
              .swiper-slide 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim amet aliquam facilis consequatur nesciunt tenetur fugit, aut repellendus fugiat rem, asperiores et laboriosam beatae accusamus! Aliquam magni similique reiciendis perferendis, nulla consequatur vero dolorum iste quos voluptatem distinctio fuga, tempora doloribus cupiditate est quod commodi expedita minima officia facilis ullam.
              .swiper-slide 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim amet aliquam facilis consequatur nesciunt tenetur fugit, aut repellendus fugiat rem, asperiores et laboriosam beatae accusamus! Aliquam magni similique reiciendis perferendis, nulla consequatur vero dolorum iste quos voluptatem distinctio fuga, tempora doloribus cupiditate est quod commodi expedita minima officia facilis ullam.
            //- If we need pagination
            .swiper-pagination
            //- If we need navigation buttons
            .swiper-button-prev
            .swiper-button-next
            //- If we need scrollbar
            .swiper-scrollbar
        // /swiper

        // airDdatepicker
        .airDdatepicker
          input(type="text")#airDatepicker
        // /airDdatepicker

        // magnigicPopup
        .magnigicPopup
          a(href="#test-popup").open-popup-link Magnific Popup 
          #test-popup.popup.mfp-hide
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolor in architecto similique dolorum beatae atque illo! Quaerat quod error, reprehenderit fugit explicabo eligendi quia commodi amet earum aliquid soluta! Omnis, odio illo adipisci quaerat doloremque dolore cupiditate rerum et nemo, molestias natus, a nesciunt excepturi dolores beatae ad autem tempora libero. A quae itaque dolores magnam tempora id labore explicabo animi voluptas possimus ab minima sint, reprehenderit beatae quod ipsa, vitae porro nulla. Quam recusandae iure veritatis, id aut expedita modi, atque facilis nobis accusamus nostrum. Recusandae reiciendis deleniti, debitis, possimus tenetur aspernatur similique non atque eveniet et inventore?
        // /magnigicPopup

        // tabs
        .js-tabs
          ul
            li 
              a(href="#tab_1").js-tabs-trigger.active tab_1
            li 
              a(href="#tab_2").js-tabs-trigger tab_2
            li 
              a(href="#tab_3").js-tabs-trigger tab_3
          div
            .js-tabs-content.open(data-href="#tab_1")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt assumenda quod fugit, eos dolorem ut ex inventore facere non sit. Dolorum, eveniet, adipisci! Aperiam soluta, harum obcaecati earum optio libero reprehenderit, fuga. Libero odio eaque deserunt recusandae, maxime quaerat autem! Eligendi inventore laudantium odit magni nihil eos soluta quisquam, unde.
            .js-tabs-content(data-href="#tab_2")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt assumenda quod fugit, eos dolorem ut ex inventore facere non sit.
            .js-tabs-content(data-href="#tab_3")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt assumenda quod fugit, eos dolorem ut ex inventore facere non sit. Dolorum, eveniet, adipisci! Aperiam soluta, harum obcaecati earum optio libero reprehenderit, fuga. Libero odio eaque deserunt recusandae, maxime quaerat autem! Eligendi inventore laudantium odit magni nihil eos soluta quisquam, unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus officia, aliquam, nemo est unde nesciunt ipsam iure numquam natus error!
        // /tabs

        // js-scrollup
        .js-scrollup
          svg(class="icon-arrow-up")
            use(xlink:href="img/sprite.svg#arrow-up")
        // /js-scrollup
        
        // more-list
        .more-list
          ul.js-more-list
            li 1
            li 2
            li 3
            li 4
            li 5
            li 6
          button.js-more-btn Показать еще
        // /more-list

        // counter
        .counter.js-counter
          .counter__btn.js-counter-minus 
            svg(class="icon-minus")
              use(xlink:href="img/sprite.svg#minus")
          .counter__input.js-counter-input
            input(type="text" value="1" maxlength="3")
          .counter__btn.js-counter-plus 
            svg(class="icon-plus")
              use(xlink:href="img/sprite.svg#plus")
        // /counter

        // accordion
        .accordion.js-accordion
          .accordion__item
            .accordion__trigger.js-accordion-trigger.active(data-content="trigger_1") triger 1
            #trigger_1.accordion__content.js-accordion-content.open
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel consequatur, obcaecati repellendus laboriosam at quos, similique saepe hic vero fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quibusdam temporibus officia molestias assumenda, sint deserunt nemo quas dolores fuga maxime, soluta provident blanditiis magni ipsum totam expedita quasi ipsa.
          .accordion__item
            .accordion__trigger.js-accordion-trigger(data-content="trigger_2") triger 2
            #trigger_2.accordion__content.js-accordion-content
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel consequatur, obcaecati repellendus laboriosam at quos, similique saepe hic vero fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quibusdam temporibus officia molestias assumenda, sint deserunt nemo quas dolores fuga maxime, soluta provident blanditiis magni ipsum totam expedita quasi ipsa.
          .accordion__item
            .accordion__trigger.js-accordion-trigger(data-content="trigger_3") triger 3
            #trigger_3.accordion__content.js-accordion-content
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel consequatur, obcaecati repellendus laboriosam at quos, similique saepe hic vero fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quibusdam temporibus officia molestias assumenda, sint deserunt nemo quas dolores fuga maxime, soluta provident blanditiis magni ipsum totam expedita quasi ipsa.
        // /accordion

        // noUiSlider
        #noUiSlider(data-min="0" data-max="1000" data-nowmin="100" data-nowmax="700")
        input#noUiSliderMin(type="text", name="rangeMin")
        input#noUiSliderMax(type="text", name="rangeMax")
        // /noUiSlider

    include core/footer.pug
