/* benefit */
.benefit { 
  color: #fff;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 50%;
    background-color: #D92F84;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .wrapper {
    position: relative;
    z-index: 1;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em 0;
    width: 36em;
    min-height: 49em;
    .subtitle {
      margin-bottom: 0.3em;
    }
  }
  &__text {
    width: 29em;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 140%;
    p {
      margin-bottom: 2.5em;
    }
    ul {
      li {
        padding-left: 5em;
        position: relative;
        margin-bottom: 2.5em;
        img {
          width: 8.2em;
          position: absolute;
          top: -2.5em;
          left: -4em;
        }
        span {

        }
      }
    }
  }
  &__img {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    cursor: pointer;
    user-select: none;
    img {
      width: 14em;
      transition: 0.5s;
    }
    @media (min-width: $break_sm + 1) {
      &:hover {
        img {
          transform: rotate(360deg) scale(1.05);
        }
      }
    }
  }
  &__fly {
    position: absolute;
    top: -3em;
    left: 12em;
    z-index: 1;
    img {
      width: 11em;
    }
  }
}
/* /benefit */