/* review */
.review { 
  padding: 12.5em 0 7.5em;
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    font-family: "Kelpo";
    font-size: 4.875em;
    line-height: 86%;
    letter-spacing: -0.01em;
    color: $primary_color;
    text-align: center;
    text-shadow: -0.01em -0.1em #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 0.55em;
  }
  &__slider {
    width: 68.5em;
    padding: 0 5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    user-select: none;
    margin-bottom: 4.875em;
  }
  &__block {
    padding: 5em 6.6em 3.5em;
    border: 0.2em solid #99DDE3;
    border-radius: 2.5em;
    background: #FFF5FA;
    text-align: center;
    p {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      margin-bottom: 1.7em;
    }
  }
  &__raiting {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__star {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.1875em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8995 2.59994L15.1995 7.59994C15.2995 7.89994 15.5995 8.09994 15.8995 8.19994L21.0995 8.99994C21.9995 8.99994 22.2995 9.99994 21.6995 10.5999L17.8995 14.4999C17.6995 14.6999 17.5995 15.0999 17.5995 15.3999L18.4995 20.7999C18.5995 21.5999 17.7995 22.2999 17.0995 21.8999L12.3995 19.2999C12.0995 19.0999 11.7995 19.0999 11.4995 19.2999L6.79952 21.8999C6.09952 22.2999 5.19952 21.6999 5.39952 20.7999L6.29952 15.3999C6.39952 15.0999 6.19952 14.6999 5.99952 14.4999L2.19952 10.5999C1.69952 9.99994 1.99952 8.99994 2.79952 8.89994L7.99952 8.09994C8.29952 8.09994 8.59952 7.79994 8.69952 7.49994L10.9995 2.49994C11.4995 1.79994 12.4995 1.79994 12.8995 2.59994Z' fill='%23FEC227'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__button {
    &--prev {
      
    }
    &--next {

    }
  }
  &__thumb {
    width: 35em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    user-select: none;
    .swiper-slide-thumb-active {
      .review__photo {
        transform: scale(1.3);
      }
      .review__name {
        opacity: 1;
      }
    }
  }
  &__photo {
    width: 5.4375em;
    height: 5.4375em;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 1em;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    font-family: "Kelpo";
    font-size: 2em;
    letter-spacing: -0.02em;
    color: $primary_color;
    opacity: 0;
  }
  @media (max-width: $break_sm) {
    padding-top: 7em;
  }
}
/* /review */