/* story */
.story { 
  padding: 10em 0;
  &__row {
    @include row();
    align-items: center;
    &--1 {
      margin-bottom: 1.375em;
    }
    &--2 {
      margin-bottom: 11em;
      .story__col {
        &:nth-child(1) {
          @media (min-width: $break_sm + 1) {
            order: 2;
          }
        }
      }
    }
  }
  &__col {
    @include col(6);
  }
  &__text {
    width: 37em;
    .subtitle {
      margin-bottom: 0.5em;
    }
    p {
      font-size: 1.125em;
      line-height: 160%;
      margin-bottom: 0.5em;
    }
  }
  &__img {
    
  }
}
/* /story */