/* swiper-custom */
.swiper-button-prev {
  width: 4.5em;
  height: 4.5em;
  background-color: #fff;
  border: 0.2em solid #99DDE3;
  border-radius: 100%;
  fill: #99DDE3;
  left: 2.875em;
  transition: .3s;
  &:after {
    display: none;
  }
  svg {
    width: 2.1875em;
    height: 1.875em;
    transform: rotate(180deg);
  }
  @media (min-width: $break_sm + 1) {
    &:hover {
      fill: #fff;
      background-color: #99DDE3;
    }
  }
}
.swiper-button-next {
  width: 4.5em;
  height: 4.5em;
  background-color: #fff;
  border: 0.2em solid #99DDE3;
  border-radius: 100%;
  fill: #99DDE3;
  right: 2.875em;
  transition: .3s;
  &:after {
    display: none;
  }
  svg {
    width: 2.1875em;
    height: 1.875em;
  }
  @media (min-width: $break_sm + 1) {
    &:hover {
      fill: #fff;
      background-color: #99DDE3;
    }
  }
}
/* /swiper-custom */